<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IoTWebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=tcp:bmochina01\IoT,49172;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4Overall" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4ProjectInfoInput" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4ProjectInfo1" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4ProjectInfoDesc" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4attached" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString2" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString3" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString4" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString5" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString6" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString7" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString8" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString9" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString10" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString11" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString12" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString13" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString14" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString15" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString16" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString17" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString18" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;Persist Security Info=True;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString19" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString20" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString21" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
    <add name="IoTConnectionString22" connectionString="Data Source=tcp:bmochina01,49172;Initial Catalog=IoT;User ID=user;Password=Cypress@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors defaultRedirect="GenericError.htm"  mode="RemoteOnly" >
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1024000" executionTimeout="300000" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <httpModules>
    </httpModules>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.cy-semi.com" enableSsl="true" port="25" userName="cysp@cypress.com" password="Cypress@22"></network>
      </smtp>
    </mailSettings>
  </system.net>
  
  <applicationSettings>
    <IoTWebApplication.Properties.Settings>
      <setting name="Signers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>lhg</string>
            <string>zhap</string>
            <string>lsun</string>
            <string>cysp</string>
          </ArrayOfString>
        </value>
      </setting>
    </IoTWebApplication.Properties.Settings>
  </applicationSettings>
</configuration>